<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${@whitelabelConfigProps.applicationName}">Maki Home UAA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>

<body>

<div class="uk-grid">
    <div class="uk-width-1-10"></div>
    <div class="uk-width-8-10">
        <h1><a th:href="@{/}" th:text="${@whitelabelConfigProps.applicationName}">Maki Home UAA</a></h1>

        <div class="uk-alert uk-alert-success" th:if="${updated}">
            Updated successfully. To sync information,
            <form th:action="@{/logout}" method="post">
                <button class="uk-button uk-button-mini">Logout</button>
            </form>
            is required.
        </div>
        <form class="uk-form uk-form-stacked" th:action="@{/}" th:object="${memberForm}" method="post">

            <div class="uk-form-row">
                <label class="uk-form-label" th:for="familyName">Name</label>
                <div class="uk-form-controls uk-grid">
                    <div class="uk-width-1-2">
                        <input type="text" placeholder="Family Name" th:field="*{familyName}" class="uk-width-1-1"
                               th:classappend="${#fields.hasErrors('familyName')}? 'uk-form-danger'"/>
                        <span th:if="${#fields.hasErrors('familyName')}" th:errors="*{familyName}"
                              class="uk-text-danger">error!</span>
                    </div>
                    <div class="uk-width-1-2">
                        <input type="text" placeholder="Given Name" th:field="*{givenName}" class="uk-width-1-1"
                               th:classappend="${#fields.hasErrors('givenName')}? 'uk-form-danger'"/>
                        <span th:if="${#fields.hasErrors('givenName')}" th:errors="*{givenName}"
                              class="uk-text-danger">error!</span>
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" th:for="email">E-mail</label>
                <div class="uk-form-controls uk-grid">
                    <div class="uk-width-1-1">
                        <input type="text" th:field="*{email}" class="uk-width-1-1"
                               th:classappend="${#fields.hasErrors('email')}? 'uk-form-danger'"/>
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                              class="uk-text-danger">error!</span>
                    </div>
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label" th:for="password">Password</label>
                <div class="uk-form-controls uk-grid">
                    <div class="uk-width-1-2">
                        <input type="password" th:field="*{rawPassword}" class="uk-width-1-1"
                               th:classappend="${#fields.hasErrors('rawPassword')}? 'uk-form-danger'"/>
                        <span th:if="${#fields.hasErrors('rawPassword')}" th:errors="*{rawPassword}"
                              class="uk-text-danger">error!</span>
                    </div>
                    <div class="uk-width-1-2">
                        <input type="password" th:field="*{passwordConfirm}" class="uk-width-1-1"
                               placeholder="Confirm"
                               th:classappend="${#fields.hasErrors('passwordConfirm')}? 'uk-form-danger'"/>
                        <span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"
                              class="uk-text-danger">error!</span>
                    </div>
                </div>
            </div>
            <div class="uk-form-row" sec:authorize="${hasRole('ADMIN')}">
                <span class="uk-form-label">Role</span>
                <div class="uk-form-controls">
                    <label><input name="roles" type="checkbox" value="USER"
                                  th:checked="${memberForm.roles != null and memberForm.roles.contains(T(am.ik.home.member.MemberRole).USER)}"/>
                        USER</label>
                    <label><input name="roles" type="checkbox" value="ADMIN"
                                  th:checked="${memberForm.roles != null and memberForm.roles.contains(T(am.ik.home.member.MemberRole).ADMIN)}"/>
                        ADMIN</label>
                    <label><input name="roles" type="checkbox" value="ACTUATOR"
                                  th:checked="${memberForm.roles != null and memberForm.roles.contains(T(am.ik.home.member.MemberRole).ACTUATOR)}"/>
                        ACTUATOR</label>
                    <span th:if="${#fields.hasErrors('roles')}"
                          th:errors="*{roles}"
                          class="uk-text-danger">error!</span>
                </div>
            </div>
            <div class="uk-form-row">
                <input type="hidden" name="edit"/>
                <input type="hidden" name="memberId" th:value="${member.memberId}"/>
                <button class="uk-width-1-1 uk-button uk-button-primary uk-button-large"><i class="uk-icon-edit"></i>
                    Edit
                </button>
            </div>
        </form>
        <hr/>
        <form th:action="@{/}" method="get">
            <button class="uk-button">Back</button>
        </form>
    </div>
    <div class="uk-width-1-10"></div>
</div>
</body>
</html>