<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Maki Home UAA</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>

<body th:with="member=${#authentication.principal.member}">

<div class="uk-grid">
    <div class="uk-width-1-10"></div>
    <div class="uk-width-8-10">
        <h1><a th:href="@{/}">Maki Home UAA</a></h1>
        <a th:href="@{${@environment.getProperty('moneygr.url', 'http://localhost:18080')}}">Go back to Moneygr</a>

        <span th:text="${user}"></span>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
            <tr>
                <td><span th:text="${member.familyName}"></span> <span th:text="${member.givenName}"></span></td>
                <td><span th:text="${member.email}"></span></td>
            </tr>
        </table>
        <a class="uk-button uk-button-primary" th:href="@{/(edit=)}">Edit</a>

        <h3>Apps</h3>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>App Name</th>
                <th>App Url</th>
                <th sec:authorize="${hasRole('ADMIN')}">&nbsp;</th>
            </tr>
            <tr th:each="app : ${apps}">
                <td><span th:text="${app.appName}"></span></td>
                <td><a th:href="${app.appUrl}" th:text="${app.appUrl}"></a></td>
                <td sec:authorize="${hasRole('ADMIN')}">
                    <div class="uk-button-group"
                         th:attr="data-id=${app.appId}">
                        <a class="uk-button" th:href="@{/apps(edit=,appId=${app.appId})}"><i
                                class="uk-icon-edit"></i></a>
                        <button class="uk-button uk-button-danger"
                                onclick="return deleteApp(this);"><i class="uk-icon-trash"></i></button>
                    </div>
                </td>
            </tr>
        </table>

        <a class="uk-button uk-button-primary" th:href="@{/apps(new=)}" sec:authorize="${hasRole('ADMIN')}">Create New
            App</a>
        <hr/>
        <form th:action="@{/logout}" method="post">
            <button class="uk-button">Logout</button>
        </form>
    </div>
    <div class="uk-width-1-10"></div>
</div>
</body>
</html>